body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(228, 220, 146);
}

main {
  width: 70%;
  margin: 15% auto;
  display: flex;
  align-items: center;
}

i {
  cursor: pointer;
  color: rgb(207, 199, 199);
  font-size: 20px;
}

i:hover {
  color: #000;
}

.to-do-list {
  flex: 1;
  display: flex;
  flex-flow: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 5px solid rgb(158, 151, 151);
  border-radius: 15px;
}

.to-do-list > * {
  display: flex;
  border-bottom: 1px solid rgb(248, 247, 247);
  flex: 1;
  padding: 1rem;
}

.title {
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  margin: 0;
  flex-basis: 90%;
  text-align: center;
  margin-left: 35px;
}

#form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form input {
  border: 1px hidden;
  flex-basis: 90%;
  outline: none;
  font-size: 1rem;
  color: #000;
}

#form input[placeholder] {
  font-style: italic;
}

#form button {
  border: 1px hidden;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}

.list-section {
  display: none;
  padding: 0;
}

.allTodos {
  padding: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(248, 247, 247);
  flex: 1;
  padding: 1rem;
}

.todo:hover {
  cursor: pointer;
  background-color: rgb(227, 238, 211);
}

.todo div {
  flex-basis: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.todo-done {
  text-decoration: line-through;
  font-style: italic;
}

.todo p {
  flex-basis: 95%;
  margin: 0;
  color: #000;
  font-size: 1.2rem;
  outline: none;
}

.todo i {
  margin-right: 5px;
}

#checkbox {
  width: 20px;
  height: 20px;
}

.fa-trash {
  color: #000;
}

#clear-completed {
  background-color: rgb(207, 199, 199);
  justify-content: center;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}

#clear-completed button {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 50px 50px;
  color: #fff;
}

#clear-completed button:hover {
  color: rgb(14, 55, 235);
  border: 2px solid rgb(14, 55, 235);
}

#clear {
  border: 1px hidden;
  background-color: rgb(207, 199, 199);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.appear {
  display: block;
}

.disappear {
  display: block;
}

@media only screen and (max-width: 768px) {
  main {
    width: 85%;
  }
}
