body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(248, 247, 247);
}

main {
  width: 70%;
  margin: 50px auto;
}

i {
  cursor: pointer;
  color: rgb(207, 199, 199);
}

.to-do-list {
  display: flex;
  flex-flow: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.to-do-list > * {
  display: flex;
  border-bottom: 1px solid rgb(248, 247, 247);
  flex: 1;
  padding: 1rem;
}

.title {
  justify-content: space-between;
  align-items: center;
}

.title h3 {
  margin: 0;
}

#form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form input {
  border: 1px hidden;
  flex-basis: 90%;
  outline: none;
  font-size: 1rem;
  color: #000;
}

#form input[placeholder] {
  font-style: italic;
}

#form button {
  border: 1px hidden;
  background-color: #fff;
  cursor: pointer;
}

#form i {
  transform: rotate(0.5turn);
}

.list-section {
  display: none;
  padding: 0;
}

.allTodos {
  padding: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(248, 247, 247);
  flex: 1;
  padding: 1rem;
}

.todo:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.todo div {
  flex-basis: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.todo p {
  flex-basis: 95%;
  margin: 0;
  color: #000;
  font-size: 1.2rem;
  outline: none;
}

#checkbox {
  width: 20px;
  height: 20px;
}

#clear-completed {
  background-color: rgb(207, 199, 199);
  justify-content: center;
  cursor: pointer;
}

#clear {
  border: 1px hidden;
  background-color: rgb(207, 199, 199);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
